<div class="col-md-6">
    <h2> Lista de clientes</h2>
    <button class="btn btn-danger" (click)="addUser()"> Agregar cliente</button>
    <table class="table table-striped">
      <thead>
      <tr>
        <th class="hidden">Id</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Edad</th>
        <th>Fecha de nacimiento</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let cliente of clientes">
        <td class="hidden">{{cliente.id}}</td>
        <td>{{cliente.nombre}}</td>
        <td>{{cliente.apellido}}</td>
        <td>{{cliente.edad}}</td>
        <td>{{cliente.fechaNacimiento}}</td>
      </tr>
      </tbody>
    </table>
  </div>
  